// colors 
$primary-color:  hsl(176, 50%, 47%);
$primary-color-active:  hsl(176, 72%, 28%); 

$secondary-color:  hsl(0, 0%, 0%);
$secondary-color-active: hsl(0, 0%, 48%); 
// breakpoints
// box sizing 